<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
 </div>
 <div>
    <hr class="yellow-division">
  <h1 class="col-xs-12 no_padding htag">Digital Marketing Performance Snapshot</h1>
 </div>
 <app-date (datePicked)='OnDateSelected($event)'></app-date>
 <app-overall-reports [dateGenerated]='dateGenerated'></app-overall-reports>
 <app-organic-reports [dateGenerated]='dateGenerated'></app-organic-reports>
 <app-revenue-reports [dateGenerated]='dateGenerated'></app-revenue-reports>

</div>
