/* You can add global styles to this file, and also import other style files */
 @import "~bootstrap/dist/css/bootstrap.min.css";
 @import "~font-awesome/css/font-awesome.min.css";
 
body{
     background-color: #031524;
     color:white;
     padding:10px;
 }

 @media only screen and (min-width: 768px){
.col-md-6, .col-md-3 {
    float: left;
}
}

hr.yellow-division {
    border-top: 4px solid #dfc64c;
    margin-top: 45px;
}

.analytics-section {
    padding: 15px;
    background-color: #081f32;
}

.yellow-text {
    color: #dfc64c;
}

.all-traffic {
    border-bottom: 5px solid #f46415;
    height: 100%;
}


.section-height {
    height: 33.33%;
}

.no_padding_left {
    padding-left: 0px !important;
    padding-bottom: 15px;
}

.analytics-row {
    margin-top: 50px;
}

.analytic_holder .row {
    margin-left: 0;
    margin-right: 0;
}

.all-traffic h2 {
    display: block;
    margin: 20% 0;
}